aiohttp==3.8.6
aiosignal==1.3.1
altgraph==0.17.4
async-timeout==4.0.3
asyncio==3.4.3
asynctest==0.13.0
attrs==23.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
colored==1.4.4
discord==1.7.3
discord-ui==5.1.6
discord.py==1.7.3
discord.py-self-embed==1.0.8
fade==0.0.9
frozenlist==1.3.3
idna==3.6
importlib-metadata==6.7.0
markdown-it-py==2.2.0
mdurl==0.1.2
multidict==6.0.4
packaging==23.2
pefile==2023.2.7
Pillow==9.5.0
psutil==5.9.8
pygments==2.17.2
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2024.0
pystray==0.19.5
pystyle==2.9
pywin32-ctypes==0.2.2
requests==2.31.0
rich==13.7.0
six==1.16.0
typing-extensions==4.7.1
urllib3==1.26.5
yarl==1.9.4
zipp==3.15.0
